<% @user ||= current_user %>
<li>
  <span class="indicator">Following</span><br/>
  <span class="count"><%= @user.following.count %></span>
</li>
<li>
  <span class="indicator">Followers</span><br/>
  <span class="count"><%= @user.followers.count %></span>
</li> 