<% if user_signed_in? %>

	<%= form_for :post, url: posts_path do |f| %>
	  <p>
	    <%= f.text_area :text, :placeholder => 'What\'s happening ?' %>
	    <%= f.submit %>
	  </p>
	<% end %>

<% else %>
	<p> You need to <%= link_to('login', new_user_session_path)  %>.<p>
<% end %>
