<h1>All happs</h1>

<% @articles.each do |article| %>
  <div class="article">
    <h1 class="article-title"><%= link_to article.text, article %></h1>
    <p class="article-content"><%= article.text %></p>
  </div>
<% end %>
